.notification {
    background: #ee7a6e;
    position: fixed;
    right: 10px;
    top: 10px;
    width: 320px;
    height: 116px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    border-radius: 8px;
    z-index: 100;
    transition-duration: 0.3s;
}

.close-button {
    background: none;
    border: none;
    color: white;
    height: 100%;
    width: 40px;
    cursor: pointer;
}

.notification .info {
    text-overflow: ellipsis;
    padding: 8px;
}

.notification .message {
    font-size: 12px;
}