.onboarding-sheet-background {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 50; /* Higher than all but the sheet content */
  overflow: hidden;
  transition-duration: 0.2s;
}

.onboarding-sheet-container {
  position: absolute;
  height: fit-content;
  /* min-height: 200px; */
  width: min(100%, 762px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
  z-index: 51;
  padding-bottom: 70px;
}

.onboarding-sheet-content {
  position: absolute;
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 90px;
}

.onboarding-sheet-container .button-bar {
  position: absolute;
  bottom: 30px;
  left: 30px;
  right: 30px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}

.onboarding-sheet-container .button-bar > .spacer {
  flex-grow: 2;
}

.onboarding-sheet-container .button-bar > button {
  border: none;
  font-size: 15px;
  border-radius: 8px;
  padding: 11px 15px;
  border: 1px solid var(--button-tint);
  min-width: 85px;
  cursor: pointer;
}

.onboarding-sheet-container .button-bar > .previous {
  background-color: transparent;
  color: var(--button-tint);
}

.onboarding-sheet-container .button-bar > .next {
  background-color: var(--button-tint);
  color: white;
}

.onboarding-sheet-container .button-bar > .next-alt {
  border-color: var(--button-tint);
  color: var(--button-tint);
  background-color: transparent;
  color: var(--button-tint);
}

.onboarding-sheet-container h3 {
  margin: 15px 0px 10px;
}

.onboarding-sheet-container p {
  margin-top: 5px;
  font-size: 14px;
}

.onboarding-sheet-container ol > li {
  margin-bottom: 2px;
}