.chat-view {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.heading {
    min-height: 50px;
    margin: 20px 30px 15px 30px;
    position: relative;
}

.chat-input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;
    margin: 0px 16px;
}

.send-text-line {
    display: flex;
    padding: 16px 0px 16px 16px;
    gap: 8px;
    justify-content: space-between;
    align-items: end;
    border-radius: 5px;
    border: 1px solid var(--line);
    outline: none;
    box-sizing: border-box;
}

.send-message-button {
    position: absolute;
    right: 40px;
    width: 28px;
    height: 28px;
    border-radius: 8px;
    background-color: var(--button-tint);
    display: flex;
    justify-content: center;
    align-items: center;
    &.is-loading {
        background-color: white;
    }
}

.send-message-button:not(:disabled):hover {
    background-color: var(--button-tint-hover);
}


.text-area {
    flex: 1;
    font-size: 1rem;
    line-height: 1.5rem;
    border: none;
    height: 24px;
    resize: none;
    outline: none;
    overflow-y: hidden;
}

.trash-button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.chat-view .heading .title {
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-right: 40px;
    padding-bottom: 1px;
    border-bottom: 1px solid clear;
}

.chat-view .heading .title > * {
    vertical-align: middle;
}

.chat-view .heading #conversation-name {
    outline: none;
    font-size: 21px;
    font-weight: 600;
    width: calc(100% - 10px);
    padding: 4px;
    border-radius: 3px 4px;
    box-sizing: content-box;
}

.chat-view .heading .subtitle {
    font-size: 16px;
    color: var(--text-color);
    margin-right: 40px;
}

.chat-view .heading .subtitle > * {
    vertical-align: middle;
}

.chat-view .dialog-split-container {
    position: relative;
    margin: 0 auto;
    width: calc(100% - 60px);
    min-height: 100px;
    flex-grow: 3;
    padding-bottom: 10px;
    max-width: 1000px;
}

.add-tag-button {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 14px;
    background-color: var(--selection-background);
    .label-icon {
        position: relative;
        width: 16px;
        left: 4px;
    }
    .plus-icon {
        position: absolute;
        left: 8px;
        width: 8px;
        top: 8px;
    }
}

.dropdown-tags {
    position: fixed;
    overflow: auto;
    z-index: 60;
    background-color: white;
    border: 1px solid var(--line);
    border-radius: 3px;
}

.dropdown-tags .tag-item {
    padding: 5px;
    box-sizing: border-box;
    cursor: default;
    font-size: 14px;
    user-select: none;
}

.dropdown-tags .tag-item:hover {
    background-color: var(--selection-background);
}

.chat-view .inline-tag-item {
    display: inline-block;
    border-radius: 3px;
    background-color: var(--selection-background);
    padding: 5px 5px;
    padding-right: 18px;
    margin: 0px 2px;
    cursor: default;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    position: relative;
}

.chat-view .inline-tag-item > img {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 4px;
    opacity: 0.9;
}

.chat-view .select-model-button {
    border: 1px solid var(--line);
    border-radius: 20px;
    padding: 2px 10px;
    margin-left: 5px;
    background-color: transparent;
    font-size: 13px;
}

.chat-view .select-model-button:active {
    background-color: var(--selection-background);
}

.dropdown-models {
    display: fixed;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid var(--line);
    margin-left: 2px;
}

.dropdown-models div {
    padding: 4px 8px;
    box-sizing: border-box;
    cursor: default;
    font-size: 14px;
    user-select: none;
    background: white;
}

.dropdown-models div:hover {
    background-color: var(--selection-background);
}

.input-prompt {
    font-size: 11px;
    color: var(--lighter-text-color);
    text-align: right;
    margin-top: 2px;
    margin-bottom: 8px;
}

.add-new-tag {
    height: 170px;
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.add-new-tag .tag-color-picker {
    top: 45px;
    box-shadow: none !important;
    left: 50%;
    transform: translateX(-50%);
}

.add-new-tag > button {
    position: absolute;
    height: 32px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}