body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --sidebar: #dadaf2;
  --line: #e8e8e8;
  --text-color: #101010;
  --lighter-text-color: #6d6d6d;
  --selection-background: #ededed;
  --date-label-background: #f2f2f2;
  --highlight: #b0b0eb;
  --button-disabled: #bebef0;
  --button-tint: #8282d1;
  --button-tint-hover: #7575CF;
  --link-active: #498ff8;
  --link-visited: #42638d;
  --code-token: #f0f0f0;
  --inline-code: #5041b4;
  --theme-warning: #D93D3D;
  --theme-warning-selected: #bc2222;
  --theme-green: #62C554;
}

.center-screen {
  position: absolute;
  width: 100%;
  height: 100%;
}

.generic-container {
  position: absolute;
  top: 0;
  /* width: 100%; */
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
}

hr {
  margin: 10px 0;
  height: 1px;
  border: none;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, rgba(0.25, 0.25, 0.25, 0.15)));
}

.textfield {
  outline: none;
  border: 1px solid var(--line);
}

.textfield:focus {
  transition-duration: 0.2s;
  box-shadow:  0 0 0 3px rgba(166, 147, 252, 0.1);
  -webkit-box-shadow: 0 0 0 3px rgba(166, 147, 252, 0.1);
  border: 1px solid rgba(171, 159, 220, 0.5);
}

.generic-button {
  font-size: 15px;
  font-weight: 500;
  background-color: var(--button-tint);
  color: white;
  border: none;
  border-radius: 6px;
  transition-duration: 0.2s;
}

.generic-button:disabled {
  background-color: var(--button-disabled);
  cursor: not-allowed;
}

.generic-button:not(:disabled):hover {
  background-color: var(--button-tint-hover);
}

 a:link {
  color: var(--link-active);
}

a:visited {
  color: var(--link-visited);
}

ul {
  margin-block-start: 0.7em;
  margin-block-end: 0.7em;
}