.split {
    display: flex;
    flex-direction: row;
}

.gutter {
    background-color: #eee;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.gutter:hover {
    background-color: var(--highlight);
    box-shadow: 0px 0px 2px 0px var(--highlight);
}

.gutter.gutter-horizontal {
    /* background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg=='); */
    cursor: col-resize;
}