.dialog-container {
    top: 102px;
    box-sizing: border-box;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
}

#chat-dialog {
    border-radius: 5px;
    box-sizing: border-box;
    padding: 20px 10px 10px;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 16px;
}

.vertical-split {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.gutter.gutter-vertical {
    cursor: row-resize;
    width: 50px;
    background-color: transparent;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    background-repeat: no-repeat;
    background-position: 50%;
    margin: 0 auto;
}

.gutter.gutter-vertical:hover {
    box-shadow: none;
}

.history-item {
    position: relative;
    padding: 10px 15px;
}

.date-label {
    background-color: var(--date-label-background);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 13px;
    color: var(--text-color);
    text-align: center;
    width: fit-content;
    margin: 5px auto 0px;
}

.history-item .avatar {
    border-radius: 9px;
    height: 40px;
    margin-right: 20px;
}

.history-item .message {
    margin-right: 50px;
}

.messageContainer .ai-image {
    width: 50%;
    box-sizing: border-box;
    padding: 0 2px; /* Add space between images using padding */
}
