.chat-preview {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chat-preview-header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}

.empty-conversation-list {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.chat-preview-cell {
    height: 105px;
    width: 100%;
    cursor: default;
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid var(--line);
}

.chat-preview-cell > img {
    position: absolute;
    top: 10px;
    left: 15px;
    border-radius: 5px;
    width: 30px;
    height: 30px;
}

.chat-preview-cell > .chat-preview-title {
    text-overflow: ellipsis;
    font-weight: 600;
    position: absolute;
    left: 55px;
    top: 12px;
    right: 5px;
    user-select: none;
    overflow: hidden;
    white-space: nowrap;
}

.chat-preview-cell > .chat-preview-content {
    position: absolute;
    left: 55px;
    top: 35px;
    height: 35px;
    right: 5px;
    vertical-align: top;
    font-size: 14px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2; 
    -webkit-box-orient: vertical;
    user-select: none;
    color: var(--lighter-text-color);
}

.chat-preview-cell > .chat-preview-date {
    position :absolute;
    left: 55px;
    bottom: 10px;
    font-size: 11px;
    color: var(--lighter-text-color);
}

.new-conversation-button {
    height: 48px;
    border-radius: 24px;
    box-sizing: border-box;
}

.preview-chat-list {
    overflow-y: auto;
    padding: 0px;
    margin: 0px;
}
