.loading-state {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spacer {
    height: 8px; /* Adjust this value to your preference */
    display: block; /* Ensures it takes up space */
    clear: both; /* Useful if you have floated elements */
    content: ""; /* It's often used with pseudo-elements, but no harm in using it here as well */
}

.error-message {
    height: 8px;
    font-size: 12px;
    color: red;
}

.success-message {
    height: 8px;
    font-size: 12px;
    color: green;
}

.settings-textfield {
    padding: 8px 8px;
    border-radius: 6px;
    font-size: 13px;
}

.settings-table tr {
    height: 72px;
}

.settings-table td > * {
    vertical-align: middle;
}

.settings-table input {
    width: 300px;
    height: 32px;
    box-sizing: border-box;
}

.settings-table .caption {
    font-size: 12px;
    color: var(--lighter-text-color);
}

.settings-table button {
    border: 1px solid var(--button-tint);
    color: var(--button-tint);
    padding: 7px 10px;
    margin: 5px;
    min-width: 75px;
    height: 32px;
    font-size: 14px;
    border-radius: 6px;
    background-color: transparent;
}

.settings-table .warning-button, .warning-button {
    border: 1px solid var(--theme-warning);
    color: var(--theme-warning);
    padding: 7px 10px;
    margin: 5px;
    min-width: 75px;
    height: 32px;
    font-size: 14px;
    border-radius: 6px;
    background-color: transparent;
}

.settings-table button:hover {
    background-color: var(--button-tint);
    color: white;  /* Changing text color to white on hover */
}

.settings-table .warning-button:hover, .warning-button:hover {
    background-color: var(--theme-warning);
    color: white;  /* Changing text color to white on hover */
}

.horizontal-container div {
    display: inline-block;
    vertical-align: middle;
}
