.item {
    height: 48px;
    overflow: hidden;
    margin: 0px 8px;
    border-radius: 10px;
    transition-duration: 0.2s;
    display: flex;
    align-items: center;
    gap: 16px;
    position: relative;
}

.item:hover {
    background-color: #EDEDF970;
}

.item.selected {
    transition-duration: 0.2s;
    background-color: #ededf9cd;
}

.sidebar-icon {
    margin-left: 16px;
}
