.suggestion-container {
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.suggestion-button {
    text-align: start;
    background-color: white;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 16px;
    border-width: 1px;
    border-color: #6B6B6B;
    cursor: pointer;
    font-family: "Manrope";
}

.bold {
    font-weight: bold;
}